* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #24272E;
}

header{
  background: white;
  padding: 20px;
}

header > h1 {
  color: #24272E ;
  text-align: center;
  font-family: 'Asap', sans-serif;
}

.score-board{
  margin: 20px auto;
  border: 3px solid white;
  border-radius: 4px;
  width: 200px;
  color: white;
  font-size: 40px;
  text-align: center;
  padding: 15px 20px;
  font-family: 'Asap', sans-serif;
  position: relative;
}

.badge{
  background-color: #E25840;
  color: white;
  font-size: 24px;
  padding: 3px 10px;
}

#user-label{
  position: absolute;
  top: 20px;
  left: -35px;
}

#comp-label{
  position: absolute;
  top: 20px;
  right: -45px;
}

.result{
  font-size: 40px;
  color: white;
  font-family: 'Asap', sans-serif;
  text-align: center;
  padding: 10px;
}

.choices{
  text-align: center;
  margin: 50px 0;
}

.choice{
    display: inline-block;
    border: 3px solid white;
    background-color: white;
    color: red;
    width: 150px;
    font-size: 30px;
    height: 50px;
    text-align: center;
    padding: 5px 20px;
    margin: 0 20px;
    transition: all 0.3s ease;
 }

 .choice:hover{
   cursor: pointer;
   background: lightblue;
 }

#action-message{
  font-size: 30px;
  color: white;
  text-align: center;
  font-weight: bold;
}
